* {
  background-color: aliceblue;
}
.judul,
.title {
  text-align: center;
}

.title {
  margin-top: -15px;
}

.form {
  width: 30%;
  padding: 20px;
  margin: 80px auto;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.1),
    -2px 2px 2px 0px rgba(0, 0, 0, 0.1), 1px -2px 2px 0px rgba(0, 0, 0, 0.1);
}

.form-input {
  margin: 5px;
  padding: 10px;
}

button {
  padding: 5px;
  margin: 5px;
  background-color: rgb(96, 96, 96);
  border-radius: 5px;
  color: aliceblue;
  font-size: 20px;
  font-weight: bold;
}

.calc {
  padding: 5px;
  display: grid;
  font-weight: bold;
}

.footer {
  text-align: center;
  font-weight: bold;
}
